<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emirim.schoolauctionreal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.emirim.schoolauctionreal.MainActivity">

        </activity>
        <activity android:name="com.example.emirim.schoolauctionreal.BoardActivity" />
        <activity android:name="com.example.emirim.schoolauctionreal.mypage" />
        <activity android:name="com.example.emirim.schoolauctionreal.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.emirim.schoolauctionreal.LoginActivity" />
        <activity android:name="com.example.emirim.schoolauctionreal.SigninActivity" />
        <activity android:name=".Edit_MyPage_Activity"/>
        <activity android:name=".Buy_Write_Activity"/>
        <activity android:name=".Sell_Write_Activity"/>
    </application>

</manifest>